body
{
	margin:100px;
	max-width: 70%;
	/*object-fit:cover;*/
}
img
{
	height:100%;
	width:100%;
	object-fit:cover;
	display:block;
}
*
{
	box-sizing: border-box;
}
li
{
	border: 6px solid black;
}
ul
{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows:200px;
	grid-auto-flow:dense;
	list-style:none;
	padding:0;
	margin:0;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


li:nth-child(1)
{
	grid-column:span2;
	grid-row:span2
}
li:nth-child(2)
{
	grid-column:span3;
}
li:nth-child(3)
{
	grid-column:span2;
}
li:nth-child(5)
{
	grid-row:span2;
}
.C block-sizes li:nth-child(6)
{
	grid-column:span4;
	grid-row:span4;
}